# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-exe
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ship.bat
0.2.6 Changelog
new 1.txt
Embrune*.zip
brain
generate-item-ids.js
fiximports.cjs
refactorIconify.cjs
refactorJSX.cjs
changelog.txt
ai_utility